@import './base.css';
body{

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #app {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

    #app {
    display: grid;
    grid-template-columns: minmax(30vw, 1fr) minmax(30vw, 1fr);
    padding: 0 2rem;
  }
}